.main-screen {
  display: flex;
}
.space-scene {
  width: 100%;
  height: 100vh;
  background: #090a16;
  background: radial-gradient(circle, #1c1836 0%, #0d0b1c 50%, #05050d 100%);
}
.planet-customization {
  padding: 10px 20px;
  width: 400px;
  background: #1c1836;
  z-index: 50;
}
.presets-dropdown {
  position: absolute;
  top: 0 !important;
}
.customization-section-header__title {
  color: var(--mantine-color-purple-6);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
}
.customization-section-header__info {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}
.mantine-Accordion-control,
.mantine-Accordion-control .mantine-Text-root {
  transition: color 0.2s;
}
.mantine-Accordion-control:hover,
.mantine-Accordion-control:hover .mantine-Text-root {
  color: var(--mantine-color-purple-6) !important;
}
.mantine-Button-root {
  transition: color 0.2s;
  &.button--purple:hover {
    color: var(--mantine-color-purple-6) !important;
  }
  &.button--ice:hover {
    color: var(--mantine-color-ice-5) !important;
  }
}
